.area {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: yellowgreen;
  border-radius: 19px;
  padding: 1em;
  > .ball {
    color: black;
    background: whitesmoke;
    text-align: center;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    display: inline-table;
    margin: 0.1em;
  }
}

.active {
  background: yellow !important;
}
